{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="starter-template">
        <h1>PHP Challenge - Symfony2 with Doctrine</h1>
        <p class="lead">Por favor, arraste um arquivo para realizar um upload.</p>
        <p class="lead">O processo se iniciará automaticamente.</p>
        <p class="lead dropzone" style="width: 100%"></p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/plugins/dropzone.min.js') }}"></script>
    <script src="{{ asset('assets/js/upload.js') }}"></script>
{% endblock %}